Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2021-12, with the labels that each got.

#20 HMAN-28 Add endpoints for get Hearing Request
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-20

#29 HMAN- 38
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/resources/sql/delete-hearing-tables.sql
  src/integrationTest/resources/sql/insert-case_hearing_request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/BadRequestException.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/DeleteHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-29

#36 HMAN-28 to master
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-36

#38 CCD-2316: Review CVE suppressions in suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-38

#37 HMAN-22 - Related Party bug
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/main/resources/db/migration/V20211208_22__HMAN-22-RelatedParty.sql
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-37

#30 HMAN-37: Validate Schema for PUT request
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/DeleteHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/UpdateHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/UpdateRequestDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-30

#31 HMAN-60 - Hearing tables
  src/main/resources/db/migration/V20211202_60__HMAN-60-HearingResponse.sql
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-31

#39 update log4j
  build.gradle
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-39

#41 CCD-2351: Update log4j version to 2.16.0
  build.gradle
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-41

#42 CCD-2231: Updated CVE suppression dates
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-42

#43 CCD-2374: Update log4j version to 2.17.0
  build.gradle
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-43

#33 Hman 41
  src/contractTest/java/uk/gov/hmcts/reform/hmc/consumer/HearingManagementCreateHearingConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/hmc/consumer/HearingManagementGetHearingsConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/hmc/utility/HearingResponsePactUtil.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingCreatePostResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingCreatePutResponse.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-33

#10 HMAN-25 Add Pact test
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  docker-pactbroker-compose.yml
  src/contractTest/java/uk/gov/hmcts/reform/hmc/consumer/HearingManagementConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/hmc/provider/HearingManagementProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/hmc/utility/HearingResponsePactUtil.java
  src/contractTest/resources/contract-test.properties
  src/main/java/uk/gov/hmcts/reform/hmc/Application.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationException.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-10
