Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2022-03, with the labels that each got.

#94 Make access control toggleable
  src/main/java/uk/gov/hmcts/reform/hmc/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-94

#99 cve activities
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-99

#87 HMAN-83:Create Database tables for the Hearings Actual functionality
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualAttendeeIndividualDetailEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualHearingDayEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualHearingDayPausesEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualHearingEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualHearingPartyEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualPartyRelationshipDetailEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingResultType.java
  src/main/resources/db/migration/V20220221_83__HMAN-83-HearingsActual.sql
  src/test/java/uk/gov/hmcts/reform/hmc/model/HearingResultTypeTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-87

#102 HMAN-79
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/integrationTest/resources/sql/get-caseHearings_request_hmi.sql
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingDayDetailsEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingResponseEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/domain/model/enums/ListingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ListAssistResponseException.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HmcHearingResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HmcHearingUpdate.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceImpl.java
  src/main/resources/db/migration/V20220316_78__HMAN-78-Alter_Table_Hearing_Response.sql
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-102

#97 HMAN-111:Update DB Field Name for <hmctsServiceCode>
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryIT.java
  src/integrationTest/resources/sql/get-caseHearings_request.sql
  src/integrationTest/resources/sql/insert-caseHearings_LinkedHearings.sql
  src/integrationTest/resources/sql/insert-case_hearing_request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/data/CaseHearingRequestEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapper.java
  src/main/resources/db/migration/V20220315_111__HMAN-111-Rename_Column_HmctsServiceID_To_HmctsServiceCode.sql
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CaseCreateHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-97

#100 HMAN- 88
  src/contractTest/java/uk/gov/hmcts/reform/hmc/BasePactTesting.java
  src/contractTest/java/uk/gov/hmcts/reform/hmc/utility/HearingResponsePactUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/DeleteHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiDeleteHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-100

#104 Correct authorised s2s list for initial audiences
  src/main/resources/application.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-104

#95 HMAN-57 establish DELETE linkedHearingGroup end-point and validate
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/LinkedHearingGroupControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/HearingRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/LinkedGroupDetailsRepositoryIT.java
  src/integrationTest/resources/sql/delete-hearing-tables.sql
  src/integrationTest/resources/sql/insert-caseHearings_LinkedHearings.sql
  src/integrationTest/resources/sql/insert-linked-hearings.sql
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/LinkedHearingGroupController.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingResponseEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/LinkedGroupDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/LinkedHearingGroupNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/LinkedGroupDetailsRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/main/resources/db/migration/V20220315_57__HMAN-57-Drop-group-reques-date-time.sql
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-95

#98 HMAN 114
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/resources/sql/get-caseHearings_request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiCaseDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiSubmitHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/HmiCaseDetails.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiCaseDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiSubmitHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-98

#93 HMAN- 90
  src/contractTest/java/uk/gov/hmcts/reform/hmc/BasePactTesting.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/RestExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/RequiredLocationsEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/RequiredLocationsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingLocationsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingLocation.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingWindow.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/LocationType.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/RelatedParty.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/ListingLocation.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/resources/db/migration/V20221403_90__HMAN-90-UpdateRequiredLocations.sql
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/RequiredLocationsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingLocationsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/BeanValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/EnumPatternValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-93

#92 HMAN-77 readMessage off of queue and transform to HearingResponse
  build.gradle
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/ErrorDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/Hearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingAttendee.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingChannel.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingCode.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingJoh.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingRoom.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingVenue.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/MetaResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/VenueLocationReference.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageType.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/MalformedMessageException.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingCodeTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-92

#96 HMAN-78 & HMAN-79
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/integrationTest/resources/sql/get-caseHearings_request_hmi.sql
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/Hearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingCode.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingVenue.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/VenueLocationReference.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingDayDetailsEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingResponseEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/domain/model/enums/HearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/domain/model/enums/ListingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ListAssistResponseException.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HmcHearingResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HmcHearingUpdate.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceImpl.java
  src/main/resources/db/migration/V20220316_78__HMAN-78-Alter_Table_Hearing_Response.sql
  src/test/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-96

#88 Hman 81
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualControllerIT.java
  src/integrationTest/resources/sql/delete-hearing-tables.sql
  src/integrationTest/resources/sql/get-HearingsActual_request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualAttendeeIndividualDetailEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualHearingDayEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualHearingDayPausesEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualHearingEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualHearingPartyEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualPartyRelationshipDetailEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingResponseEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseCommonCode.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/ActualDayParty.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/ActualHearingDays.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/ActualIndividualDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/ActualOrganisationDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/HearingActual.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/HearingActualResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/HearingOutcome.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/HearingPlanned.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/IndividualDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/OrganisationDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/Party.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/PauseDateTimes.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/PlannedHearingDays.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingActualsService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingActualsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingActualsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-88

#109 HMAN-98 Add missing list assist fields. Refactor and correct unit tests.
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiCaseDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiSubmitHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingOtherConsiderationsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/CaseLinks.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/HmiCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/Listing.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiCaseDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiSubmitHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingOtherConsiderationsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-109

#85 HMAN- 72 & HMAN-73
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/UnNotifiedHearingsControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceIT.java
  src/integrationTest/resources/sql/get-caseHearings_request.sql
  src/integrationTest/resources/sql/unNotified-hearings-request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/UnNotifiedHearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingResponseEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/UnNotifiedHearingsResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/partiesnotified/PartiesNotifiedResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceImpl.java
  src/main/resources/db/migration/V20220304_73__HMAN-73-UnNotifiedHearings.sql
  src/test/java/uk/gov/hmcts/reform/hmc/PartiesNotifiedCommonGeneration.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/UnNotifiedHearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-85

#106 HMAN-133 HMAN-119 post/put hearing
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/CaseHearingRequestEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/IndividualDetailEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/IndividualDetailMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/UnAvailabilityDetailMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/EntitiesMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/EntitySubTypeMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/UnavailableDatesMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/DayOfWeekUnAvailableType.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/IndividualDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/UnavailabilityDow.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/UnavailabilityRanges.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/Entity.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/EntitySubType.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/EntityUnavailableDate.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/Listing.java
  src/main/resources/db/migration/V20220325_133__HMAN-133-Alter_Table_Individual_Details.sql
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/IndividualDetailMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/UnAvailabilityDetailMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/EntitiesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/EntitySubTypeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/UnavailableDatesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/EnumPatternValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-106

#113 HMAN-91 Update /hearings (Get) - response Payload
  src/contractTest/java/uk/gov/hmcts/reform/hmc/utility/HearingResponsePactUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/GetHearingsResponse.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-113
