Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2022-05, with the labels that each got.

#167 HMAN-165 - Document enum values in swagger ui pages
  build.gradle
  src/main/java/uk/gov/hmcts/reform/hmc/model/CaseCategory.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingLocation.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/PanelPreference.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/UnavailabilityDow.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-167

#153 Hman 164 - Amend database mapping for relatedParty element in the POST/PUT/GET hearing end-point
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/resources/sql/delete-hearing-tables.sql
  src/integrationTest/resources/sql/update-case-hearing-request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingPartyEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/IndividualDetailEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/PartyRelationshipDetailsEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/IndividualDetailMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/PartyRelationshipDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/RelatedEntitiesMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/IndividualDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/HearingPartyRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/PartyRelationshipDetailsRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/resources/db/migration/V20220314_90__HMAN-90-UpdateRequiredLocations.sql
  src/main/resources/db/migration/V20220413_164.2__HMAN-164-CreatePartyRelationshipDetails.sql
  src/main/resources/db/migration/V20220413_164__HMAN-164-UpdateIndividualDetails.sql
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/IndividualDetailMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/PartyRelationshipDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/RelatedEntitiesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-153

#176 HMAN-202 - Handle null actual day parties
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingActualsMapper.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-176

#160 HMAN-179 [put /hearing] optional amendReasonCode field required by ListAssist
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-160

#168 HMAN-186
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/data/HearingEntityTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-168

#143 HMAN-135 update GET linkedHearingGroup endpoint
  src/main/java/uk/gov/hmcts/reform/hmc/model/linkedhearinggroup/LinkedHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-143

#150 HMAN-144 Return latestRequestversion to the HMI Incoming Adapter.
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/resources/sql/insert-case_hearing_request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/Application.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-150

#174 HMAN-193: LinkedHearingGroup sameSlot type populates ORDERED column as 0
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/LinkedHearingValidator.java
  src/main/resources/db/migration/V20220504_193__HMAN-193-UpdateConstraintForLinkedHearingAudit.sql
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/LinkedHearingValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-174

#178 HMAN-198 HMC moves hearingRequest into EXCEPTION state if optional fields not provided
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/main/resources/db/migration/V20220505_198__HMAN-198-Alter_Hearing_Attendee_Details_Column.sql
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-178

#169 HMAN-147 Populate partyChannelSubType
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-169

#179 HMAN-203 changed GET /hearingActuals/ the individualDetails to a single object
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualHearingPartyEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingPartyEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingActualsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/IndividualDetailMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/PartyDetailMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/ActualDayParty.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/Party.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/IndividualDetailMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-179

#188 HMAN-213 - Remove checks for empty arrays where fields are optional
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-188

#146 HMAN-161 MultiDay Hearing Duration
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/RestExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/Listing.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/ListingMultiDay.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CaseCreateHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-146

#122 HMAN-125: Access Control
  charts/hmc-cft-hearing-service/Chart.yaml
  charts/hmc-cft-hearing-service/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/hmc/provider/HearingManagementGetHearingsProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/RestExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/PartiesNotifiedControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/data/DefaultRoleAssignmentRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryIT.java
  src/integrationTest/resources/wiremock-stubs/role-assignments.json
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/PartiesNotifiedController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/UnNotifiedHearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/DefaultRoleAssignmentRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/AccessControlService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/AccessControlServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/PartiesNotifiedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/AccessControlServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-122

#193 HMAN-219 - Make hearingID string for GET /partiesNotified
  src/main/java/uk/gov/hmcts/reform/hmc/model/partiesnotified/PartiesNotifiedResponses.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/PartiesNotifiedControllerTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-193

#194 Don't check access control for GET /hearing if the request is for isValid
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-194

#195 CCD-3112: Updated spring-framework.version to 5.3.19, removed suppression for CVE-2022-22968
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-195

#189 HMAN-189 hearing_response version incorrectly populated
  docker/database/Dockerfile
  src/contractTest/java/uk/gov/hmcts/reform/hmc/utility/HearingResponsePactUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/PartiesNotifiedControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/resources/sql/get-HearingsActual_request.sql
  src/integrationTest/resources/sql/get-caseHearings_request.sql
  src/integrationTest/resources/sql/get-caseHearings_request_hmi.sql
  src/integrationTest/resources/sql/insert-caseHearings_LinkedHearings.sql
  src/integrationTest/resources/sql/insert-caseHearings_actualhearings.sql
  src/integrationTest/resources/sql/insert-linked-hearings.sql
  src/integrationTest/resources/sql/put-hearing-actuals.sql
  src/integrationTest/resources/sql/unNotified-hearings-request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/Application.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/PartiesNotifiedController.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingResponseEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/HearingResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/partiesnotified/PartiesNotifiedResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedServiceImpl.java
  src/main/resources/db/migration/V20220509_189__HMAN-189-Remove-Response_Version.sql
  src/test/java/uk/gov/hmcts/reform/hmc/PartiesNotifiedCommonGeneration.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/PartiesNotifiedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-189

#191 HMAN-211 - Add Fortify checks to nightly pipeline
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-191

#180 CVE-2022-21724: hmc-cft-hearing-service fix
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-180

#200 CVE-2022-24823 : hmc-cft-hearing-service fix
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-200

#205 suppression of CVE-2016-1000027 and until date extension for current …
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-205

#208 suppression of CVE-2022-29885
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-208

#206 HMAN-224 Modify PUT /hearingActuals processing for <actualDayParty> element
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementControllerIT.java
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload2.json
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload4-Completed.json
  src/main/java/uk/gov/hmcts/reform/hmc/Application.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingActualsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/ActualHearingDayParties.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/ActualHearingOrganisationDetail.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/ActualDayParty.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hearingactuals/ActualOrganisationDetails.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HearingActualsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-206

#196 HMAN-204 Alter optional fields to not produce errors
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/Hearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingAttendeeDetailsEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingDayDetailsEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingResponseEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/main/resources/db/migration/V20220510_204__HMAN-204-Alter-Optional-Fields.sql
  src/test/java/uk/gov/hmcts/reform/hmc/data/HearingEntityTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-196

#157 HMAN-163
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/Hearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingSession.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-157

#210 HMAN-140
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/SyncResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-210

#173 HMAN-166 ApiResponse messages should use ValidationError Class
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/LinkedHearingGroupController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/PartiesNotifiedController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/UnNotifiedHearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-173
