Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2022-02, with the labels that each got.

#61 HMAN-45 Map delete request to HMI
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiDeleteHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/CancellationReason.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/HmiDeleteHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiDeleteHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiSubmitHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-61

#49 HMAN-47 validate hearing id in get hearing request
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/resources/sql/insert-hearing.sql
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-49

#62 HMAN-53
  build.gradle
  charts/hmc-cft-hearing-service/Chart.yaml
  charts/hmc-cft-hearing-service/values.preview.template.yaml
  charts/hmc-cft-hearing-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageSenderToQueueConfigurationIT.java
  src/integrationTest/resources/application-itest.yaml
  src/integrationTest/resources/application-itest.yml
  src/main/java/uk/gov/hmcts/reform/hmc/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageReaderFromQueueConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageSenderToQueueConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/ApplicationParamsTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-62

#66 fix for CVE-2021-29425
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-66

#67 HMAN-63
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageSenderToQueueConfigurationIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageSenderToQueueConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-67

#72 CCD-2592: Suppress CVE pending investigation
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-72

#65 HMAN-34 Apply pact code to fresh master build
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/hmc/BasePactTesting.java
  src/contractTest/java/uk/gov/hmcts/reform/hmc/consumer/HearingManagementGetHearingsConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/hmc/utility/HearingResponsePactUtil.java
  src/contractTest/java/uk/gov/hmcts/reform/hmc/utility/HearingResponsePactUtilTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-65

#68 HMAN-64 Validate categoryType, categoryValue, partyId, partyType, par…
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/Application.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/CaseCategory.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/PartyDetails.java
  src/main/resources/db/migration/V20220208_64__HMAN-64-OptionalFieldsNowMandatoryNotNull.sql
  src/test/java/uk/gov/hmcts/reform/hmc/validator/BeanValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/EnumPatternValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-68

#63 HMAN-48 Get Hearing Response
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/CaseCategoriesEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/GetHearingResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/HearingResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/RequestDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-63

#76 test tidy up
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-76

#74 Ccd 2592
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-74

#79 Amend Suppression Date
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-79

#81 helm update
  charts/hmc-cft-hearing-service/Chart.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-81
