Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2022-07, with the labels that each got.

#251 HMAN-291
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/Listing.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-251

#244 HMAN-304 Update listAssistCaseStatus processing in GET /hearing and GET /hearings
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-244

#245 HMAN-327
  src/functionalTest/resources/features/F-003 GET Hearing/S-003.1.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingWindow.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CaseCreateHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/BeanValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-245

#241 HMAN-217: Round up duration in multi-day hearing to nearest multi…
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HearingMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-241

#247 CCD-3428 Update Chart.yaml SB
  charts/hmc-cft-hearing-service/Chart.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-247

#272 CCD-3561 Upgrade Java and Node JS versions in chart for all the respe…
  charts/hmc-cft-hearing-service/Chart.yaml
  charts/hmc-cft-hearing-service/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-272

#275 HMAN-336 Add new listLanguage field, apply population and update unit…
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/Listing.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-275
