Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2022-01, with the labels that each got.

#47 HMAN-39
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/HearingRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/resources/sql/insert-case_hearing_request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/domain/model/enums/DeleteHearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/domain/model/enums/PutHearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/HearingRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-47

#32 HMAN 32
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/resources/sql/delete-hearing-tables.sql
  src/integrationTest/resources/sql/get-caseHearings_request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/CaseHearingRequestEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingAttendeeDetailsEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingDayDetailsEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingDayPanelEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingResponseEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/Attendee.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/GetHearingsResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-32

#44 HMAN-31 remove test endpoints
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-44

#53 CVE-2021-27568 and removed suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-53

#52 HMAN-69 - Fix Hearing Status bug
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-52

#50 HMAN- 46
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/HearingRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/resources/sql/delete-hearing-tables.sql
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/CancellationReasonsEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/CaseHearingRequestEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/CancellationReasonsRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/resources/db/migration/V20221001_46__HMAN-46-Cancellation_Reasons.sql
  src/main/resources/db/migration/V20221101_46__HMAN-46-Alter_HearingStatus_Column_Length.sql
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/CancellationReasonsRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-50

#54 Changed suppression date to 1 month ahead
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-54

#9 HMAN-24 Add pact provider verification
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/resources/application.properties
Labels: ns:hmc, prd:hmc, stale, rel:hmc-cft-hearing-service-pr-9

#58 HMAN-45 Map delete request to HMI
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiDeleteHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/CancellationReason.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/HmiDeleteHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiDeleteHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiSubmitHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-58

#55 Update to build.gradle
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/hmc/hmi/befta/CftHearingServiceTestAutomationAdapter.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmc/hmi/befta/TestDataLoaderMain.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/RestExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/DataStoreRepositoryTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-55

#28 HMAN-33 HMAN-54 add message to service bus
  build.gradle
  charts/hmc-cft-hearing-service/Chart.yaml
  charts/hmc-cft-hearing-service/values.preview.template.yaml
  charts/hmc-cft-hearing-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/RestExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageReaderFromTopicConfigurationIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageSenderToTopicConfigurationIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/RestTemplateConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/data/DefaultRoleAssignmentRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/resources/application-itest.yaml
  src/integrationTest/resources/application-itest.yml
  src/main/java/uk/gov/hmcts/reform/hmc/Application.java
  src/main/java/uk/gov/hmcts/reform/hmc/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageReaderFromQueueConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageReaderFromTopicConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageSenderToTopicConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/common/DefaultObjectMapperService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/common/ObjectMapperService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/ApplicationParamsTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/common/DefaultObjectMapperServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-28

#57 HMAN 68
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/resources/sql/get-caseHearings_request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingDayPanelEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDaySchedule.java
  src/main/resources/db/migration/V20220119_68__HMAN-68-HearingDayPanel-AddColumn.sql
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-57
