Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2022-06, with the labels that each got.

#213 HMAN-259
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementControllerIT.java
  src/integrationTest/resources/hearing-actuals-payload/HMAN-259-ValidPayload6-actualPartyId-null.json
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingActualsMapper.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-213

#204 Update azure-messaging-servicebus to latest
  build.gradle
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-204

#182 HMAN-196 - Enhance access control logic
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/AccessControlService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/AccessControlServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-182

#220 HMAN-276 - PUT /hearingActuals throws foregn key exception./gra
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementControllerIT.java
  src/integrationTest/resources/hearing-actuals-payload/HMAN-276-ValidPayload7.json
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualHearingPartyEntity.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-220

#214 CCD-3280: Add ARGs for builder stage paths to Dockerfile
  Dockerfile
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-214

#226 HMAN-274 Update List Assist Standard Amendment Reason
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiSubmitHearingRequestMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiSubmitHearingRequestMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-226

#224 HMAN-273 Update List Assist with Standard Cancellation Reason
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiDeleteHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/CancellationReason.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/HmiDeleteHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiDeleteHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-224

#233 CCD-3387 Remove CVE Suppress Until Date from All Services
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-233

#215 HMAN 228 HMAN 229 new database table hearing_channels
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/RestExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/resources/sql/delete-hearing-tables.sql
  src/integrationTest/resources/sql/get-caseHearings_request.sql
  src/integrationTest/resources/sql/update-case-hearing-request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/data/CaseHearingRequestEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingChannelsEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingChannelsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiSubmitHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/HearingChannelsRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/resources/db/migration/V20220525_228__HMAN-228-CreateHearingChannelsTable.sql
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HearingChannelsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiSubmitHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/HearingChannelsRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/BeanValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-215

#240 HMAN-317: Send correct object to LA for cancellations
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiDeleteHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/CancellationReason.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/HmiDeleteHearingRequest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiDeleteHearingRequestMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-240

#242 HMAN-307- add and use new change_reasons db table
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/RestExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/resources/sql/delete-hearing-tables.sql
  src/integrationTest/resources/sql/insert-case_hearing_request_change_reasons.sql
  src/main/java/uk/gov/hmcts/reform/hmc/data/CaseHearingRequestEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ChangeReasonsEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/ChangeReasonsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiSubmitHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/ChangeReasonsRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/resources/db/migration/V20220623_307.1__HMAN-307-DropAmendReasonCodeColumn.sql
  src/main/resources/db/migration/V20220623_307__HMAN-307-CreateChangeReasonsTable.sql
  src/test/java/uk/gov/hmcts/reform/hmc/helper/ChangeReasonsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/ChangeReasonsRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-242

#225 HMAN-215 - Reduce number of hearing sessions stored in DB
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/HearingDayDetailsRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-225

#249 Temporary suppression of CVE-2022-34305
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-249

#231 HMAN-269 - Create roomAttributes object on start up
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/RoomAttributesServiceIT.java
  src/integrationTest/resources/room-attributes/valid-file.json
  src/main/java/uk/gov/hmcts/reform/hmc/model/RoomAttribute.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/RoomAttributesService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/RoomAttributesServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/room-attributes.json
  src/test/java/uk/gov/hmcts/reform/hmc/service/RoomAttributesServiceImplTest.java
  src/test/resources/room-attributes/duplicate-reasonable-adjustments.json
  src/test/resources/room-attributes/duplicate-room-attributes.json
  src/test/resources/room-attributes/missing-json-field.json
  src/test/resources/room-attributes/unexpected-json-field.json
  src/test/resources/room-attributes/valid-file.json
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-231
