Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2022-08, with the labels that each got.

#270 HMAN 357 HMAN 355 listingAutoChangeReasonCode
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/ListingReasonCode.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/CaseHearingRequestEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/ListingReasonCodeEnumPattern.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/ListingReasonCodeEnumPatternValidator.java
  src/main/resources/db/migration/V20220714_357__HMAN-357-Update_CaseHearingRequest.sql
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/BeanValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-270

#276 HMAN-353 Autolist Validation
  src/functionalTest/resources/features/F-003 GET Hearing/S-003.1.td.json
  src/main/java/uk/gov/hmcts/reform/hmc/data/CaseHearingRequestEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/RoomAttributesMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiSubmitHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/ListingReasonCodeEnumPattern.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CaseCreateHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiSubmitHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-276

#283 HMAN-376 Do not send listingLanguage field if language is NOT Welsh
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-283

#282 HMAN-372 Update roomAttribute to listingRoomAttributes
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/Listing.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-282

#284 HMAN-377/374 - Handle both LISTED and CANCEL statuses for cancel scenarios
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-284

#289 HMAN-373 returning Cancellation reasons for GET Hearing
  Jenkinsfile_CNP
  charts/hmc-cft-hearing-service/values.preview.template.yaml
  src/functionalTest/resources/features/F-002 DELETE Hearing/S-002.1-get-hearing.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/resources/sql/get-caseHearings_request.sql
  src/integrationTest/resources/sql/insert-caseHearings_LinkedHearings.sql
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/RequestDetails.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-289

#286 HMAN-378 Remove CANCELLED must have no hearing day validation. Update…
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/Application.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/HearingIdValidator.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-286

#285 HMAN-369 Change message and add unit tests
  src/integrationTest/resources/sql/insert-caseHearings_LinkedHearings.sql
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-285

#292 HMAN-400 - Only allow no-mapping-available for listingAutoChangeReasonCode
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/ListingReasonCode.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/ListingReasonCodeEnumPatternValidator.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CaseCreateHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-292

#293 Add backstage configuration file
  catalog-info.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-293

#294 HMAN-397 BUGFIX: overriding autolist flag
  src/main/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/RoomAttributesMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CaseCreateHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/ListingMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-294
