Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2022-04, with the labels that each got.

#117 fix master build
  src/main/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedServiceImpl.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-117

#115 HMAN-138 - Process sync responses from LA
  build.gradle
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/SyncResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageReaderFromQueueConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageSenderToQueueConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageType.java
  src/main/java/uk/gov/hmcts/reform/hmc/domain/model/enums/HearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-115

#105 HMAN-85: Establish HMC endpoint to finalise hearings actuals - POST
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/resources/sql/delete-hearing-tables.sql
  src/integrationTest/resources/sql/insert-caseHearings_actualhearings.sql
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/domain/model/enums/DeleteHearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/ActualHearingDayRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/ActualHearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingActualsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/HearingIdValidator.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/LinkedHearingValidator.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingActualsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-105

#121 Bump Spring Framework to 5.3.18
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-121

#125 HMAN-149 - Align entityClassCode values sent to LA
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/EntitySubTypeMapper.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-125

#128 HMAN-150 - Map LA caseCourt field based on updated spec
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiCaseDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/HmiCaseDetails.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiCaseDetailsMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-128

#134 Prevent PK issue when running single tests
  src/integrationTest/resources/sql/update-case-hearing-request.sql
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-134

#129 HMAN-142 - collection for hearingChannelEmail and hearingChannelPhone
  src/contractTest/java/uk/gov/hmcts/reform/hmc/BasePactTesting.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/ContactDetailMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/CommunicationsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/IndividualDetails.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/CommunicationsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-129

#133 HMAN-151: [POST/PUT /hearing] ListAssist Mapping giving error for cas…
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/CaseClassificationsMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/CaseClassificationsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-133

#111 HMAN- 96
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/LinkedHearingGroupController.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/LinkedGroupDetailsAuditMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/LinkedHearingDetailsAuditMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/LinkedGroupDetailsAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/LinkedGroupDetailsRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/LinkedHearingDetailsAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/main/resources/db/migration/V20220404_96__HMAN-96-LinkedGroupDetailsAudit.sql
  src/test/java/uk/gov/hmcts/reform/hmc/repository/LinkedGroupDetailsAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/LinkedHearingDetailsAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-111

#135 HMAN-152 Remove the mandatory condition for cftOrganisationID for the hearing request payload
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/OrganisationDetailEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/OrganisationDetails.java
  src/main/resources/db/migration/V20220411_152__HMAN-152-UpdateCftOrganistionId.sql
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-135

#132 HMAN-148 - Fail validation if UnavailabilityDow is not capitalized
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/UnavailabilityDow.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/CapitalizedCaseEnumPatternValidator.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/CapitalizedEnumPattern.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/CapitalizedEnumPatternValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/EnumPatternValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-132

#138 HMAN-156 updated partyRole to have 40 characters
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/PartyDetails.java
  src/main/resources/db/migration/V20220411_156__HMAN-156-ExtendPartyRoleCharacters.sql
  src/test/java/uk/gov/hmcts/reform/hmc/validator/BeanValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-138

#141 Introduce cftlib
  .gitignore
  README.md
  build.gradle
  settings.gradle
  src/cftlib/java/uk/gov/hmcts/reform/hmc/CftLibConfig.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-141

#84 HMAN-56 PUT linkedHearingGroup end-point - establish end-point and perform validations
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/LinkedHearingGroupControllerIT.java
  src/integrationTest/resources/sql/insert-caseHearings_LinkedHearings.sql
  src/main/java/uk/gov/hmcts/reform/hmc/Application.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/CaseHearingRequestEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingDayDetailsEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingResponseEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/LinkedGroupDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/LinkedGroupDetailsAudit.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/UnavailabilityEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/domain/model/enums/LinkType.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/HearingIdValidator.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/LinkedHearingValidator.java
  src/test/java/uk/gov/hmcts/reform/hmc/PartiesNotifiedCommonGeneration.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingActualsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/HearingIdValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/LinkedHearingValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-84

#142 HMAN-153 - update models to be in sync with inbound adapter
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/Hearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingRoom.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingVenue.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-142

#145 jackson.version update for CVE-2020-36518
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-145

#147 HMAN-143 - add new fields to Topic on hearing_response from ListAssist
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HmcHearingUpdate.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-147

#116 HMAN- 97
  build.gradle
  charts/hmc-cft-hearing-service/Chart.yaml
  charts/hmc-cft-hearing-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/WiremockFixtures.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/LinkedHearingGroupControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/FutureHearingRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceIT.java
  src/integrationTest/resources/application-itest.yaml
  src/integrationTest/resources/sql/insert-linked-hearings.sql
  src/integrationTest/resources/wiremock-stubs/list_assist_token.json
  src/main/java/uk/gov/hmcts/reform/hmc/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/ActiveDirectoryApiClient.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/AuthenticationRequest.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/AuthenticationResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/FutureHearingApiClientConfig.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/FutureHearingErrorDecoder.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/HearingManagementInterfaceApiClient.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/HearingManagementInterfaceApiClientConfig.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/HearingManagementInterfaceRequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/BadFutureHearingRequestException.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/FutureHearingServerException.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/DefaultFutureHearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/FutureHearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V20220406_97__HMAN-97-DropForeingKey-LinkedGroupDetailAudit.sql
  src/test/java/uk/gov/hmcts/reform/hmc/ApplicationParamsTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/client/futurehearing/FutureHearingErrorDecoderTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/client/futurehearing/HearingManagementInterfaceRequestInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/model/HearingManagementInterfaceResponse.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-116

#144 Hman 94 hman 95
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/WiremockFixtures.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/LinkedHearingGroupControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/FutureHearingRepositoryIT.java
  src/integrationTest/resources/application-itest.yaml
  src/integrationTest/resources/sql/insert-caseHearings_LinkedHearings.sql
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/HearingManagementInterfaceApiClient.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/LinkedHearingDetailsAuditMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/listassist/CaseListing.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/listassist/HearingGroup.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/listassist/LinkedHearingGroup.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/DefaultFutureHearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/FutureHearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/LinkedGroupDetailsRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-144

#131 HMAN-93 call ListAssist for post Linked hearing group
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/WiremockFixtures.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/LinkedHearingGroupControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/FutureHearingRepositoryIT.java
  src/integrationTest/resources/application-itest.yaml
  src/integrationTest/resources/sql/insert-caseHearings_LinkedHearings.sql
  src/integrationTest/resources/sql/insert-linked-hearings.sql
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/FutureHearingErrorDecoder.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/FutureHearingErrorDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/HearingManagementInterfaceApiClient.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/HearingManagementInterfaceRequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/HearingManagementInterfaceResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupController.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/LinkedGroupDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/linkedhearinggroup/HearingLinkGroupResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/DefaultFutureHearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/FutureHearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/LinkGroupDetailsRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/LinkedHearingDetailsRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/LinkedHearingValidator.java
  src/main/resources/db/migration/V20220404_92__HMAN-92-AlterLinkGroupDetails.sql
  src/test/java/uk/gov/hmcts/reform/hmc/client/futurehearing/HearingManagementInterfaceRequestInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/FutureHearingRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/LinkedHearingValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-131

#127 HMAN-130 & HMAN-157 bug fixes
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDetails.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-127

#139 HMAN-139:PUT /hearing end-point to implement validation for AWAITING_…
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-139

#154 New Dates
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-154

#114 HMAN-58 establish GET linkedHearingGroup endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/LinkedHearingGroupControllerIT.java
  src/integrationTest/resources/sql/insert-caseHearings_LinkedHearings.sql
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/LinkedHearingGroupController.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/LinkedGroupNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/linkedhearinggroup/GetLinkedHearingGroupResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/linkedhearinggroup/LinkedHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/LinkedHearingValidator.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/LinkedHearingValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-114

#162 Add null check for actual hearings
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapper.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-162

#110 HMAN-82 Database update for adding hearings actuals - PUT request
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/TestFixtures.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementControllerIT.java
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload1.json
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload2.json
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload3-no-partyId-supplied.json
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload4-Completed.json
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload5-Cancelled.json
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload5-no-actualHearingDays.json
  src/integrationTest/resources/sql/insert-hearings-actuals.sql
  src/integrationTest/resources/sql/put-hearing-actuals.sql
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualHearingPartyEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingActualsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/ActualHearingDay.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/ActualHearingDayParties.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/ActualHearingDayPartyDetail.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/ActualHearingDayPauseDayTime.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/ActualHearingOrganisationDetail.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingActual.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingActualsOutcome.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/ActualHearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingActualsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingHelper.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/HearingIdValidator.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/LinkedHearingValidator.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingActualsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingHelperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-110

#165 HMAN-187 - Handle when there are no panels available for GET /hearings
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapper.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-165

#103 HMAN-80 Establish and validate PUT /hearingActuals
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/TestFixtures.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementControllerIT.java
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload1.json
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload2.json
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload3-no-partyId-supplied.json
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload4-Completed.json
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload5-Cancelled.json
  src/integrationTest/resources/hearing-actuals-payload/HMAN80-ValidPayload5-no-actualHearingDays.json
  src/integrationTest/resources/sql/insert-case_hearing_request.sql
  src/integrationTest/resources/sql/put-hearing-actuals.sql
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/ActualHearingPartyEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingActualsMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/ActualHearingDay.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/ActualHearingDayParties.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/ActualHearingDayPartyDetail.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/ActualHearingDayPauseDayTime.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/ActualHearingOrganisationDetail.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingActual.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingActualsOutcome.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/ActualHearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingActualsService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingActualsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/HearingIdValidator.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/LinkedHearingValidator.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingActualsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-103

#163 HMAN-175 update hearing code enum
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/Hearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingCode.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/HearingCodeEnumPattern.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/HearingCodeEnumPatternValidator.java
  src/test/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingCodeTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/HearingCodeEnumPatternValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-163

#148 HMAN-173 Update Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-148

#137 HMAN-146 Remove mandatory validation for groupReason element from POST/PUT linkedHearingGroup end-point
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmc/model/linkedhearinggroup/GroupDetails.java
  src/main/resources/db/migration/V20220414_146__HMAN-146-Drop_non-null_Group_Reason_constraint.sql
  src/test/java/uk/gov/hmcts/reform/hmc/validator/BeanValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-137

#166 HMAN-185 and HMAN-191
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/hmi/HearingCode.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/hmc/domain/model/enums/HearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HmcHearingUpdate.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-166

#171 HMAN-195 - Send LA labels for linkedHearingGroup groupLinkType
  src/main/java/uk/gov/hmcts/reform/hmc/model/listassist/HearingGroup.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-171
