Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2023-02, with the labels that each got.

#359 HMAN-515 Bump rse-gradle plugin to add dependency-check v8.0.2
  build.gradle
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-359

#362 HMAN-518 Upgrade base charts
  charts/hmc-cft-hearing-service/Chart.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-362

#364 HMAN-XXX update logging statement
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceImpl.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-364

#353 HMAN-509 Remove discoveryComposite from health endpoint
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/main/resources/application.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-353

#366 HMAN-520 Multiday hearing is missing First session details.
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-366

#365 HMAN-497: Fix CVE-2022-41881 and CVE-2022-41915
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-365
