Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2023-05, with the labels that each got.

#360 HMAN-511, HMAN-512, HMAN-513 fix remaining logic and tests
  src/main/java/uk/gov/hmcts/reform/hmc/data/PreviousLinkedGroupDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/LinkedHearingDetailsAuditMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/LinkedGroupDetailsAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/LinkedHearingDetailsAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/FutureHearingsLinkedHearingGroupService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-360

#372 HMAN-530
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-372

#377 HMAN-540- GET /hearing response - Add in hearingResponse.requestVersion
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/hmi/HearingResponse.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-377

#381 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-381
