Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2024-03, with the labels that each got.

#455 Update perftest to 16 CPU
  infrastructure/perftest.tfvars
Labels: ns:hmc, prd:hmc, no-changes, rel:hmc-cft-hearing-service-pr-455

#453 HMAN 580 last good status field - hearing table
  src/main/resources/db/migration/V20240223_580__HMAN-580-Alter_Table_Hearing_LastGoodStatusField.sql
Labels: ns:hmc, prd:hmc, no-changes, rel:hmc-cft-hearing-service-pr-453

#449 HMAN-609- fix for CVEs
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, no-changes, rel:hmc-cft-hearing-service-pr-449

#460 HMAN-639 Add appinsight log to master branch
  build.gradle
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceImpl.java
Labels: ns:hmc, prd:hmc, enable_keep_helm, rel:hmc-cft-hearing-service-pr-460
