Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2024-05, with the labels that each got.

#494 HMAN- 637 & HMAN-638
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceIT.java
  src/integrationTest/resources/sql/insert-linked-hearings.sql
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupController.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/LinkedHearingStatusAuditEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingStatusAuditMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingStatusAudit.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/LinkedHearingStatusAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/common/HearingStatusAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/common/LinkedHearingStatusAuditService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/common/LinkedHearingStatusAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/LinkedHearingValidator.java
  src/main/resources/db/migration/V20240402_638__HMAN-638-CreateLinkedHearingStatusAudit.sql
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HearingStatusAuditMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/common/HearingStatusAuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/common/LinkedHearingStatusAuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-494

#485 HMAN-628 unNotifiedHearings -Return cancellation responses
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceIT.java
  src/integrationTest/resources/sql/unNotified-hearings-request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/UnNotifiedHearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/UnNotifiedHearingsRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/UnNotifiedHearingsRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/UnNotifiedHearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/UnNotifiedHearingsRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-485

#456 HMAN-579
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/domain/model/enums/HearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/data/HearingEntityTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/domain/model/enums/HearingStatusTest.java
Labels: ns:hmc, prd:hmc, no-changes, enable_keep_helm, rel:hmc-cft-hearing-service-pr-456
