Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2024-04, with the labels that each got.

#469 HMAN-660
  build.gradle
  charts/hmc-cft-hearing-service/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepositoryIT.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-469

#477 AAT Infrastructure changes for V15 replica
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:hmc, prd:hmc, aat/add-or-update, rel:hmc-cft-hearing-service-pr-477

#479 Upgrading azurerm version
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:hmc, prd:hmc, aat/add-or-update, rel:hmc-cft-hearing-service-pr-479

#478 Adding import block for resource group
  infrastructure/.terraform-version
  infrastructure/demo.tfvars
  infrastructure/import.tf
  infrastructure/ithc.tfvars
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:hmc, prd:hmc, aat/add-or-update, rel:hmc-cft-hearing-service-pr-478, plan-on-prod, prod/no-changes

#484 Appending replica db name
  infrastructure/aat.tfvars
  infrastructure/import.tf
  infrastructure/main.tf
Labels: ns:hmc, prd:hmc, aat/add-or-update, plan-on-prod, prod/no-changes, rel:hmc-cft-hearing-service-pr-484

#489 Adding replica config for V15 prod
  infrastructure/prod.tfvars
Labels: ns:hmc, prd:hmc, aat/no-changes, plan-on-prod, prod/add-or-update, rel:hmc-cft-hearing-service-pr-489

#474 log changes test
  Dockerfile
  build.gradle
  charts/hmc-cft-hearing-service/Chart.yaml
  charts/hmc-cft-hearing-service/values.preview.template.yaml
  charts/hmc-cft-hearing-service/values.yaml
  infrastructure/apps-insight.tf
  lib/applicationinsights.json
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepositoryIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/AppInsightsConfiguration.java
  src/test/java/uk/gov/hmcts/reform/hmc/AppInsightsTest.java
Labels: ns:hmc, prd:hmc, keep-helm, enable_keep_helm, rel:hmc-cft-hearing-service-pr-474, aat/add-or-update

#487 HMAN-677 fix CVE-2024-1597
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, aat/add-or-update, rel:hmc-cft-hearing-service-pr-487

#491 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-491

#490 HMAN-519 Change test value for hmcts service code from 'ABA1' to 'TEST'
  src/functionalTest/resources/features/F-003 GET Hearing/S-003.1.td.json
  src/functionalTest/resources/features/common/hmc/amendHearing/PutHEaringRequestBase.td.json
  src/functionalTest/resources/features/common/hmc/createHearing/createHEaringRequestFullData.td.json
  src/functionalTest/resources/features/common/hmc/getHearing/GetHearingResponseBase.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/RestExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageSenderToQueueConfigurationIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageSenderToTopicConfigurationIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/UnNotifiedHearingsControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceIT.java
  src/integrationTest/resources/sql/get-HearingsActual_request.sql
  src/integrationTest/resources/sql/get-caseHearings_request.sql
  src/integrationTest/resources/sql/get-caseHearings_request_hmi.sql
  src/integrationTest/resources/sql/insert-caseHearings_LinkedHearings.sql
  src/integrationTest/resources/sql/insert-caseHearings_actualhearings.sql
  src/integrationTest/resources/sql/insert-case_hearing_request.sql
  src/integrationTest/resources/sql/insert-case_hearing_request_change_reasons.sql
  src/integrationTest/resources/sql/put-hearing-actuals.sql
  src/integrationTest/resources/sql/update-case-hearing-request.sql
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/UnNotifiedHearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/data/CaseCategoriesEntityTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/data/CaseHearingRequestEntityTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/data/HearingChannelsEntityTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/data/NonStandardDurationsEntityTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/data/PanelAuthorisationRequirementsEntityTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/data/PanelRequirementsEntityTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/data/PanelSpecialismsEntityTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/data/RequiredFacilitiesEntityTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/data/RequiredLocationsEntityTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CaseCreateHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/CaseHearingRequestRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-490

#492 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-492

#480 HMAN-668 PI33 Helm chart upgrade - chart-java
  charts/hmc-cft-hearing-service/Chart.yaml
  charts/hmc-cft-hearing-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepositoryIT.java
Labels: ns:hmc, prd:hmc, aat/destroy, rel:hmc-cft-hearing-service-pr-480
