Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2024-07, with the labels that each got.

#451 HMAN-578
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/hmc/provider/HearingManagementDeleteHearingProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/hmc/provider/HearingManagementGetHearingsProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/RestExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/PartiesNotifiedControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceIT.java
  src/integrationTest/resources/sql/insert-linked-hearings.sql
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/PartiesNotifiedController.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/AuditBaseEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingStatusAuditEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/LinkedHearingStatusAuditEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/HearingStatusAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/LinkedHearingStatusAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingActualsService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingActualsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/common/HearingStatusAuditService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/common/HearingStatusAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/common/LinkedHearingStatusAuditService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/common/LinkedHearingStatusAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/LinkedHearingValidator.java
  src/main/resources/db/migration/V20240213_578__HMAN-578-CreateHearingStatusAudit.sql
  src/main/resources/db/migration/V20240402_638__HMAN-638-CreateLinkedHearingStatusAudit.sql
  src/main/resources/db/migration/V20240429_578__HMAN-578-Alter_Table_Hearing_StatusAudit.sql
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/PartiesNotifiedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingActualsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/common/HearingStatusAuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/common/LinkedHearingStatusAuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, no-changes, enable_keep_helm, rel:hmc-cft-hearing-service-pr-451

#508 Remove references to cnp-module-postgres
  infrastructure/variables.tf
Labels: aat/no-changes, prod/no-changes

#507 tidy-up-v11
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:hmc, prd:hmc, aat/no-changes, prod/no-changes, rel:hmc-cft-hearing-service-pr-507

#514 HMAN-839 Update cancellation response with latest request version. Re…
  UnNotifiedHearings/WithEndDateTime.sql
  UnNotifiedHearings/WithoutEndDateTime.sql
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/HmiHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/UnNotifiedHearingsRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/HmiHearingResponseMapperTest.java
Labels: ns:hmc, prd:hmc, enable_keep_helm, rel:hmc-cft-hearing-service-pr-514
