Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2024-02, with the labels that each got.

#439 Deployment id changes
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/RestExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-439

#447 HMAN-631- Rename hmcts-deployment-id to hmctsDeploymentId
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-447

#410 HMAN-529
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
Labels: ns:hmc, prd:hmc, destroy, enable_keep_helm, rel:hmc-cft-hearing-service-pr-410

#450 Upgrade current V15 perftest V4 to V8 cores
  infrastructure/perftest.tfvars
Labels: ns:hmc, prd:hmc, no-changes, rel:hmc-cft-hearing-service-pr-450

#444 HMAN-572 Create Pending_Requests Table
  src/main/resources/db/migration/V20240129_572__HMAN-572-PendingRequests.sql
Labels: ns:hmc, prd:hmc, no-changes, rel:hmc-cft-hearing-service-pr-444

#446 HMAN-616-Not Receiving COMPLETED or ADJOURNED HMC Messages
  src/integrationTest/resources/sql/insert-caseHearings_actualhearings.sql
  src/main/java/uk/gov/hmcts/reform/hmc/domain/model/enums/HearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceTest.java
Labels: ns:hmc, prd:hmc, no-changes, rel:hmc-cft-hearing-service-pr-446

#448 HMAN-528-snakeyaml
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, no-changes, rel:hmc-cft-hearing-service-pr-448

#435 CCD-5024 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-435
