Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2024-11, with the labels that each got.

#532 CME-105: add indexes
  src/main/resources/db/migration/V20241030_1__CME-105-idx_actual_hearing_day_hearing_date.sql
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-532

#531 CME-192: migrate springfox to spring doc
  .gitignore
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/hmc/hmi/befta/CftHearingServiceBeftaRunner.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/RestTemplateConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/SwaggerPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/LinkedHearingGroupController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/PartiesNotifiedController.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/UnNotifiedHearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/CaseCategory.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingLocation.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/PanelPreference.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/UnavailabilityDow.java
  src/main/resources/application.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-531

#536 tidy up on suppressions
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-536
