Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2024-09, with the labels that each got.

#521 HMAN-560 Add case ref, service code when hearing updates to exception
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-521

#497 add entityUnavailableDates to entity
  src/main/java/uk/gov/hmcts/reform/hmc/helper/hmi/EntitiesMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/hmi/EntitiesMapperTest.java
Labels: ns:hmc, prd:hmc, keep-helm, enable_keep_helm, rel:hmc-cft-hearing-service-pr-497

#496 HMAN-129 Fix PACT broker
  src/contractTest/java/uk/gov/hmcts/reform/hmc/provider/HearingManagementGetHearingsProviderTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-496

#526 HMAN-871- Add error description
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/InboundQueueServiceTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-526
