Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2025-03, with the labels that each got.

#555 HMAN-898 Add unique constraint
  src/main/resources/db/migration/V20250128_898__HMAN-898-idx_actual_hearing_day_hearing_response.sql
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-555

#556 HMAN-865 - CR-96 Hearing Endpoints - Ordering
  build.gradle
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingDayDetailsEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseCommonCode.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-556

#559 HMAN-860 Sort orders and tests for those sort orders
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingActualsMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingActualsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-559

#560 HMAN-896 update cft-lib to address the java tool chain problem
  build.gradle
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-560

#562 HMAN-938 : Add http-header-size to yaml
  src/main/resources/application.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-562

#553 HMAN-698
  src/functionalTest/resources/features/F-001 POST Hearing/S-001.3.td.json
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/IndividualDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/OrganisationDetails.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/BeanValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-553

#564 CCD-6193 update base chart versions
  charts/hmc-cft-hearing-service/Chart.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-564

#561 HMAN-940 Make isAPanelFlag optional
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/RestExceptionHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/CaseHearingRequestEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/CaseHearingRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/hmc/model/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/NotNullNorEmpty.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/NotNullNorEmptyValidator.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/BeanValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-561
