Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2025-01, with the labels that each got.

#544 HMAN-888 correct responseCode to 200 OK (not 204 NO_CONTENT) when hea…
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsController.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
Labels: ns:hmc, prd:hmc, enable_keep_helm, rel:hmc-cft-hearing-service-pr-544

#552 CCD-6049 : Bump ccd-test-definitions and befta-fw to latest
  build.gradle
Labels: ns:hmc, prd:hmc

#547 HMAN-863 Apply sort orders to given lists: caseHearings desc hearingId, party asc partyId, hearingDateSchedule asc startDateTime
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingResponseCommonCode.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapper.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/GetHearingsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-547
