Repository hmcts/hmc-cft-hearing-service, pull requests merged in 2025-02, with the labels that each got.

#534 Cme 136 enhance preprod envs
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/WiremockFixtures.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerIT.java
  src/integrationTest/resources/application-itest.yaml
  src/main/java/uk/gov/hmcts/reform/hmc/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/datastore/DataStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/DataStoreUrlManager.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/InterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/RoleAssignmentUrlManager.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/UrlManager.java
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/CachedBodyHttpServletRequest.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/CachedBodyServletInputStream.java
  src/main/java/uk/gov/hmcts/reform/hmc/interceptors/FeignUrlSetter.java
  src/main/java/uk/gov/hmcts/reform/hmc/interceptors/HeaderProcessor.java
  src/main/java/uk/gov/hmcts/reform/hmc/interceptors/RequestBodyCachingFilter.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingActualsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/common/OverrideAuditService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/ApplicationParamsTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingActualsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/HearingManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/PartiesNotifiedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/controllers/UnNotifiedHearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CachedBodyHttpServletRequestTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/helper/CachedBodyServletInputStreamTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/interceptors/FeignUrlSetterTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/interceptors/HeaderProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/interceptors/RequestBodyCachingFilterTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/common/OverrideAuditServiceTest.java
Labels: ns:hmc, prd:hmc, enable_keep_helm, rel:hmc-cft-hearing-service-pr-534

#548 CME-362: do not sync ithc
  Jenkinsfile_CNP
Labels: ns:hmc, prd:hmc, rel:hmc-cft-hearing-service-pr-548

#549 Cme-362 test
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:hmc, prd:hmc, aat/add-or-update, ithc/add-or-update, rel:hmc-cft-hearing-service-pr-549

#551 HMAN-862- CR-96 sort PartiesNotified Endpoints
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/HearingResponseRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/PartiesNotifiedCommonGeneration.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/PartiesNotifiedServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/UnNotifiedHearingServiceTest.java
Labels: ns:hmc, prd:hmc

#554 HMAN-867 Added required sort order
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/LinkHearingGroupControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/LinkedHearingGroupServiceTest.java
Labels: ns:hmc, prd:hmc

#546 CME-128: DB monitoring
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:hmc, prd:hmc, aat/add-or-update, prod/add-or-update, rel:hmc-cft-hearing-service-pr-546
